// General Font Style
h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: "Source Serif Pro", serif;
}

html p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

li {
  font-size: 1.1rem;
}

.font-white {
  color: #f7f9fb;
}

.font-black {
  color: #101419;
}

.font-red {
  color: #984447;
}

.font-blue {
  color: #476c9b;
}

.font-green {
  color: #98b9ab;
}

.font-yellow {
  color: #ed9905;
}

.font-purple {
  color: #413c58;
}