// General Font Style
h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: "Source Serif Pro", serif;
}

html p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

li {
  font-size: 1.1rem;
}

.font-white {
  color: #f7f9fb;
}

.font-black {
  color: #101419;
}

.font-red {
  color: #ea3546;
}

.font-lt-blue {
  color: #00B4D8;
}

.font-dk-blue {
  color: #0077b6;
}

.step-title {
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 5px;
}
